# Binaries and executables
*.exe
floodacebackEnd.exe

# Logs
logs/
logs/*

# Environment variables
.env

# SSL/TLS Certificates
server.crt
server.key

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

CSV/

data/

gribFiles/

cogs_output/

hms_models/

Go/.env

Go/config.yaml